name = "remix-cloudflare-workers"
type = "javascript"
compatibility_date = "{{env.COMPATIBILITY_DATE}}"
zone_id = "{{env.ZONE_ID}}"
account_id = "{{env.ACCOUNT_ID}}"
route = "zhe.work/*"
workers_dev = true

[site]
bucket = "./public"
entry-point = "."

[build]
command = "pnpm build:worker"
watch_dir = "build/index.js"

[build.upload]
format="service-worker"
