name = "remix-cloudflare-workers"
type = "javascript"
compatibility_date = "${{env.COMPATIBILITY_DATE}}"
zone_id = "9a05f8f05b8d4ff4fe5a916e0d71c6ff"
account_id = "9b07eb5f13aaf82d72af78107cb98675"
route = "zhe.work/*"
workers_dev = true

[site]
bucket = "./public"
entry-point = "."

[build]
command = "npm run build:worker"
watch_dir = "build/index.js"

[build.upload]
format="service-worker"
